/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
* {
	box-sizing: border-box;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
a, a:hover {
	text-decoration: none;
}
input, textarea, input:focus, textarea:focus {
  outline: none;
  padding: 5px;
  color: #fff;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
	min-height: 100%;
}
body {
	background: #000;
	line-height: 1;
	font-family: Arial, sans-serif;
	font-size: 16px;
}
.wrap {
	min-height: 1400px;
	background: url(../../i/markup/bg.png) no-repeat;
	background-size: 100% 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*main styles*/
.wrapper {
	width: 1280px;
	margin: 0 auto;
	padding: 0 160px;
}
header {
	height: 680px;
	position: relative;
}

.features {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 999;
	width: 366px;
	height: 366px;
	&__header {
		height: 47px;
		background: url(../../i/markup/bg-features-header.png) no-repeat;
	}
	&__list {
		&__item {
			border-bottom: 1px solid #222;	
			display: block;
			position: relative;
			color: #fff;
			font-size: 18px;
			font-weight: bold;
			margin: 5px 0;
			padding: 10px 0 10px 40px;
			background: url(../../i/markup/list-style.png) 20px 15px no-repeat;
		}
	}
	&__link {
		position: relative;
		display: block;
		margin: 0 auto;
		width: 286px;
		height: 102px;
		background: url(../../i/markup/features-link.png) no-repeat;
		&__text {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			z-index: 1000;
			background: url(../../i/markup/features-link-text.png) no-repeat;
		}
	}
}
.preview {
	width: 960px;
	height: 343px;
	margin: 0 auto;
	background: url(../../i/markup/bg-content.png) no-repeat;
	&__block {
		float: left;
		position: relative;
		&--subj {
			height: 343px;
			width: 315px;
			p {
				color: #fff;
				font-weight: bold;
				font-size: 13px;
				padding: 33px;
				line-height: 18px;
			}
		}
		&--screens {
			height: 343px;
			width: 630px;
			padding: 33px;
		}
	}
}
.section__link {
	position: absolute;
	left: 10px;
	top: -20px;
	font-family: Myriad Pro, sans-serif;
	font-size: 30px;
	color: #fff;
	z-index: 999;
}
.screenshots {
	&__item {
		float: left;
		margin: 4px 4px 10px 4px;
	}
}
footer {
	font-size: 11px;
	height: 130px;
	p {
		text-align: center;
		line-height: 130px;
		color: #666;
	}
	a {
		color: #fff;
	}
}
.wrap-img--active {
	display: block !important;
}
.main {
	position: relative;
	.wrap-img {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 998;
		height: 335px;
		width: 480px;
		img {
			display: none;
		}
	}
	.col {
		width: 500px;
		height: 335px;
		float: left;
		position: relative;
		z-index: 999;
	}
	&__descr {
		padding-top: 56px;
		background: url(../../i/markup/bg-descr.png) no-repeat;
		h1 {
			font-family: Myriad, sans-serif;
			font-weight: bold;
			font-size: 48px;
			color: #000;
			margin: 0 0 10px 20px;
		}
		p {
			color: #666;
			font-size: 13px;
			padding:20px;
		}
	}
	&__link {
		float: left;
		height: 116px;
	}
}
.navi {
	position: absolute;
	right: 50px;
	bottom: 100px;
	z-index: 1001;
	&__item {
		display: inline-block;
		margin: 0 1px;
		&__link {
			width: 13px;
			height: 14px;
			display: block;
			background: url(../../i/markup/bg-nav.png) no-repeat;
			&--active {
				background: url(../../i/markup/bg-nav-active.png) no-repeat;
			}
		}
	}
}